*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}
#header{
    background-color: hsl(300deg 67% 69%);
    height: 100px;
}

#yellow-section{
    background-color: hsl(54deg 63% 68%);
    height: 300px;
}

#blue-section{
    background-color: hsl(203deg 54% 79%);
    height: 500px;
}

#footer{
    background-color: hsl(272deg 99% 50%);
    height: 100px;
}

#header-blue-section{
    background-color: blue;
    height: 50px;
}

#left-blue-section{
    background-color: red;
    height: 500px;
    width: 20%;
    float: left;
}

#central-blue-section{
    background-color: green;
    height: 500px;
    width: 60%;
    float: left;
}

#right-blue-section{
    background-color: yellow;
    height: 500px;
    width: 20%;
    float: right;
}